<div class="wrapper">
  <div class="customers-cards" *ngIf="customers">
    <mat-card
      *ngFor="let customer of customers; let i = index"
      (click)="setEditingCostumer(i)"
    >
      <mat-card-title>{{ customer.name.title }}</mat-card-title>
      <mat-card-subtitle>
        {{ customer.name.first }} {{ customer.name.last }}
      </mat-card-subtitle>
      <img mat-card-avatar [src]="customer?.picture?.thumbnail" alt="" />
    </mat-card>
  </div>
  <form id="form" [formGroup]="form">
    <div class="row" [formGroup]="getFormGroup('name')">
      <app-input
        formControlName="first"
        [parentForm]="getFormGroup('name')"
        [fieldName]="'first'"
        [label]="'First Name'"
      >
      </app-input>
      <app-input
        formControlName="last"
        [parentForm]="getFormGroup('name')"
        [fieldName]="'last'"
        [label]="'Last Name'"
      >
      </app-input>
    </div>
    <app-input
      formControlName="email"
      [parentForm]="form"
      [fieldName]="'email'"
      [label]="'Email'"
    ></app-input>
    <div class="row" [formGroup]="getFormGroup('picture')">
      <app-input
        formControlName="thumbnail"
        [parentForm]="getFormGroup('picture')"
        [fieldName]="'thumbnail'"
        [label]="'Avatar'"
      ></app-input>
    </div>

    <app-location [parentForm]="form"></app-location>
    <div [formGroup]="getSubFormGroup('location', 'street')">
      <app-input
        formControlName="name"
        [parentForm]="getSubFormGroup('location', 'street')"
        [fieldName]="'name'"
        [label]="'Street'"
      ></app-input>
    </div>
    <div class="row">
      <app-input
        formControlName="phone"
        [parentForm]="form"
        [fieldName]="'phone'"
        [label]="'Phone Number'"
      ></app-input>
      <!-- <app-input
              formControlName="gender"
              [select]="['male', 'female']"
              [parentForm]="form"
              [fieldName]="'gender'"
              [label]="'Gender'"
            >
            </app-input> -->
      <mat-form-field appearance="outline">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">Male</mat-option>
          <mat-option value="female">Female</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row" [formGroup]="getFormGroup('dob')">
      <mat-form-field appearance="outline">
        <mat-label for="date" translate>DOB</mat-label>
        <input
          id="date"
          matInput
          formControlName="date"
          [matDatepicker]="picker"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </form>
  <section>
    <button
      mat-stroked-button
      type="submit"
      [disabled]="!form.valid"
      (click)="customers ? openEditDialog() : openAddNewDialog()"
    >
      <span translate>
        {{ customers ? "EDIT_ALL" : "ADD_NEW" }}
      </span>
    </button>
    <button mat-stroked-button (click)="navigateToCustomers()">
      <span translate>CANCEL</span>
    </button>
  </section>
</div>
