<div class="wrapper">
    <div class="header">
        <h1 class="header__title">Dashboard</h1>
        <h3 class="header__sub">Welcome to CRM dashboard</h3>
    </div>
    <div class="grid">
        <app-dashboard-card [header]="'Sales'">
            <app-chart [data]='data[0]'></app-chart>
        </app-dashboard-card>
        <app-dashboard-card [header]="'Sales'">
            <app-chart [data]='data[1]'></app-chart>
        </app-dashboard-card>
        <app-dashboard-card [header]="'Sales'">
            <app-chart [data]='data[2]'></app-chart>
        </app-dashboard-card>
    </div>
</div>