@use '../../style/base';

.wrapper {
    height: 100%;
    overflow: auto;
}
.header {
    padding: 3vmin 0 3vmin 1vmin;
    &__title {
        @include base.custom-header
    }
    &__sub {
        @include base.custom-subheader
    }
}

.grid {
    height: 100%;
    display: flex;
    gap: 1vmin;
    flex-flow: wrap;
    padding: 0 1vmin;
    app-dashboard-card {
        flex: 1;
        min-width: 350px;
    }
}