<div class="wrapper">
    <div class="head_row">
        <div class="card">
            <div class="text">Costumers</div>
            <div class="number">15</div>
        </div>
        <div class="card">
            <div class="text">ipsum</div>
            <div class="number">23/50</div>
        </div>
        <div class="card">
            <div class="text">Lorem</div>
            <div class="number">65</div>
        </div>
    </div>
    <main>
        <mat-toolbar>
            <button mat-button>
                <mat-icon>person_add</mat-icon><span>New costumer</span>
            </button>
            <button mat-button>
                <mat-icon>person_add</mat-icon><span>Edit selected</span>
            </button>
            <span class="spacer"></span>
        </mat-toolbar>
        <mat-selection-list>
            <mat-list-option>
                <mat-grid-list cols="5" matSort (matSortChange)="sortData($event)">
                    <mat-grid-tile><span>Sort By:</span></mat-grid-tile>
                    <mat-grid-tile colspan="2"><span mat-sort-header="name">Last Name</span></mat-grid-tile>
                    <mat-grid-tile colspan="2"><span mat-sort-header="age">Age</span></mat-grid-tile>
                </mat-grid-list>
            </mat-list-option>
            <app-costumer-list [costumers]="costumers"></app-costumer-list>
        </mat-selection-list>
        <mat-paginator [length]="amountOfCostumers" [pageSize]="costumersPerPage" [pageSizeOptions]="[3, 5, 7]"
            (page)="loadRandomUsers($event)">
        </mat-paginator>
    </main>
</div>