@use '../../style/base';
@use '../../style/responsive';
@use '../../style/theme';
:host {
  display: flex;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  // height: 100%;
  // justify-content: space-between;
  gap: 1vmin;
  padding: 1vmin;

  .head_row {
    display: flex;
    gap: 2vmin;
    align-items: center;
    flex-flow: wrap;
    .card {
      display: flex;
      flex-direction: column;
      gap: 1vmin;
      min-width: auto;
      flex: 1;
      padding: 3vmin 2vmin;
      border-radius: 1%;
      box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
      .number {
        font-size: 2rem;
      }
    }
  }
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 83%;
    border-radius: 1%;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    mat-selection-list {
      overflow: auto;
      flex: 1;
    }
  }
}

.active {
  color: green;
}
.inactive {
  color: red;
}
.flex.mat-line {
  display: flex;
  gap: 3vmin;
  padding: 0 2vmin;
  mat-checkbox {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
