<mat-form-field appearance="outline">
  <mat-label>{{ label }}</mat-label>
  <input
    *ngIf="!select"
    matInput
    [value]="value"
    [disabled]="isDisabled"
    (input)="onChange($event)"
    (blur)="touched()"
    [id]="fieldName"
    [matAutocomplete]="auto"
  >
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option; of options" [value]="option">
      {{ option }}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<app-form-errors [formField]="formField"></app-form-errors>
