@use '../style/base';

:host {
    display: flex;
    width: 100%;
    .cover {
        position: relative;
        height: 100%;
        width: 100%;
        background-color: blue;
        border-radius: 1%;
        button {
            position: absolute;
            top: 70%;
            left: 50%;
            transform: translate(-50%, -70%);
        }
    }
}