.grid {
    display: flex;
    height: 100%;
    place-items: center;
    gap: 3vmin;
    flex-wrap: wrap;
    padding-right: 3vmin;
    .card {
        height: 50%;
        // width: 70%;
        padding: 1vmin;
        min-width: 250px;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
        flex: 1;
        &_profile {
            display: grid;
            place-items: center;
            height: 100%;
            width: 100%;
            img {
                width: 15vmin;
                height: 15vmin;
                border-radius: 100%;
            }
            &__info {
                text-align: center;
                display: grid;
                row-gap: 2vmin;
            }
            &__buttons {
                display: flex;
                justify-content: center;
                gap: 15%;
                width: 100%;
            }
        }
        &_stat {
            display: grid;
            place-items: center;
            height: 100%;
            &__graph {
                max-width: 300px;
            }
        }
    }
}