<div class="wrapper">
    <h1>Add new costumer</h1>
    <form id="form" [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
            <app-input formControlName="nameFirst" [parentForm]="form" [fieldName]="'firstName'" [label]="'First Name'">
            </app-input>
            <app-input formControlName="nameLast" [parentForm]="form" [fieldName]="'lastName'" [label]="'Last Name'">
            </app-input>
        </div>
        <app-input formControlName="email" [parentForm]="form" [fieldName]="'email'" [label]="'Email'"></app-input>
        <app-input formControlName="avatar" [parentForm]="form" [fieldName]="'avatar'" [label]="'Avatar'"></app-input>
        <div class="row">
            <app-input formControlName="locationState" [parentForm]="form" [fieldName]="'locationState'" [label]="'State'"></app-input>
            <app-input formControlName="locationCity" [parentForm]="form" [fieldName]="'locationCity'" [label]="'City'"></app-input>
            <app-input formControlName="locationStreet" [parentForm]="form" [fieldName]="'locationStreet'" [label]="'Street'"></app-input>
        </div>
        <div class="row">
            <app-input formControlName="phoneNumber" [parentForm]="form" [fieldName]="'phoneNumber'" [label]="'Phone Number'"></app-input>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName='gender'>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label for="dob">Birth Day</mat-label>
                <input id="dob" matInput type="date" formControlName='dob' [matDatepicker]="picker" (input)="onChange($event)" [value]="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
    <section>
        <button mat-stroked-button type="submit" form="form">Add</button>
        <button mat-stroked-button>Cancel</button>
    </section>
</div>