<div class="wrapper">
    <h1>Add new costumer</h1>
    <form [formGroup]="form">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label for="nameFirst">First Name</mat-label>
                <input id="nameFirst" matInput type="text" formControlName='nameFirst'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="nameLast">Last Name</mat-label>
                <input id="nameLast" matInput type="text" formControlName='nameLast'>
            </mat-form-field>
        </div>
        <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input id="email" matInput type="text" placeholder="test@test.com" formControlName='email'>
        </mat-form-field>
        <mat-form-field appearance="outline">
            <mat-label for="avatar">Avatar Link</mat-label>
            <input id="avatar" matInput type="text" placeholder="https://website.com/image.png" formControlName='avatar'>
        </mat-form-field>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label for="locationState">State</mat-label>
                <input id="locationState" matInput type="text" formControlName='locationState'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="locationCity">City</mat-label>
                <input id="locationCity" matInput type="text" formControlName='locationCity'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label for="locationStreet">Street</mat-label>
                <input id="locationStreet" matInput type="text" formControlName='locationStreet'>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label for="phoneNumber">Phone Number</mat-label>
                <input id="phoneNumber" matInput type="text" formControlName='phoneNumber'>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Gender</mat-label>
                <mat-select formControlName='gender'>
                    <mat-option value="male">Male</mat-option>
                    <mat-option value="female">Female</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label for="dob">Birth Day</mat-label>
                <input id="dob" matInput type="date" formControlName='dob' [matDatepicker]="picker"
                    (blur)="useDatePipe">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
    </form>
    <section>
        <button mat-stroked-button>Add</button>
        <button mat-stroked-button>Cancel</button>
    </section>
</div>