<button
  mat-button
  [matMenuTriggerFor]="menu"
  aria-label="Filter options"
  (click)="onMenuClick()"
>
  <mat-icon>more_vert</mat-icon>
  <span class="filter_button">Filters</span>
</button>
<mat-menu
  #menu="matMenu"
  class="slider_menu_item"
  (click)="$event.stopPropagation()"
>
<app-custom-menu-item [title]="'age'" [icon]="'dialpad'">
  <app-customers-filter
    [filterName]="'age'"
    [range]="getRangesFor('age')"
    [rangeSliderValue]="customersAgeRangeSliderValue"
  ></app-customers-filter>
</app-custom-menu-item>
<app-custom-menu-item [title]="'purchases'" [icon]="'dialpad'">
  <app-customers-filter
    [filterName]="'purchases'"
    [range]="getRangesFor('purchases')"
    [rangeSliderValue]="customersPurchasesRangeSliderValue"
  ></app-customers-filter>
</app-custom-menu-item>
  <button mat-menu-item (click)="onGoFilterClick()">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>Filter</span>
  </button>
  <button mat-menu-item (click)="onRemoveFilters()">
    <mat-icon>dialpad</mat-icon>
    <span>Remove all filters</span>
  </button>
</mat-menu>
