<button
  mat-button
  [matMenuTriggerFor]="menu"
  aria-label="Filter options"
  (click)="onMenuClick()"
>
  <mat-icon>more_vert</mat-icon>
  <span class="filter_button">Filters</span>
</button>
<mat-menu
  #menu="matMenu"
  class="slider_menu_item"
  (click)="$event.stopPropagation()"
>
  <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
    <mat-icon>dialpad</mat-icon>
    <span>Age</span>
  </div>
  <div
    mat-menu-item
    class="slider_menu_item"
    (click)="$event.stopPropagation()"
  >
    <app-range-slider
      [min]="customersAgeRange.min"
      [max]="customersAgeRange.max"
      [value]="customersAgeRangeSliderValue"
      (output)="setRangeForFilter($event, 'age')"
    ></app-range-slider>
  </div>
  <div mat-menu-item [disableRipple]="true" (click)="$event.stopPropagation()">
    <mat-icon>dialpad</mat-icon>
    <span>Purchases</span>
  </div>
  <div
    mat-menu-item
    class="slider_menu_item"
    (click)="$event.stopPropagation()"
  >
    <app-range-slider
      [min]="customersPurchasesRange.min"
      [max]="customersPurchasesRange.max"
      [value]="customersPurchasesRangeSliderValue"
      (output)="setRangeForFilter($event, 'purchases')"
    ></app-range-slider>
  </div>
  <button mat-menu-item (click)="onGoFilterClick()">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span>Filter</span>
  </button>
  <button mat-menu-item (click)="onRemoveFilters()">
    <mat-icon>dialpad</mat-icon>
    <span>Remove all filters</span>
  </button>
</mat-menu>
