@import '../../styles.scss';
.wrapper {
    background-image: linear-gradient(to bottom, $color-bright-3, $color-dark-3);
    border-radius: 1%;
    width: 120px;
    // height: 90%;
    display: flex;
    flex-direction: column;
    // align-items: stretch;
    align-self: stretch;
    margin: 10% 0;
    .logo {
        display: flex;
        justify-content: center;
        margin: 4vmin 0;
        img {
            border-radius: 100%;
            width: 30px;
            height: 30px;
        }
    }
    
    ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50px;
            width: 55px;
            list-style: none;
            color: $color-dark-1;
            border-radius: 1%;
            background-color: $color-bright-3;
            :hover {
                background-color: $color-contrast-bright;
            }
            a {
                text-decoration: none;
                color: $color-dark-1;
                width: 30px;
                height: 30px;
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}