@use '../style/base';
@use '../style/responsive';

.wrapper {
    background-image: linear-gradient(to bottom, base.$color-bright-3, base.$color-dark-3);
    border-radius: 1%;
    padding: 0 3vmin;
    display: flex;
    flex-direction: column;
    align-self: stretch;
    @include responsive.mobile {
        padding: 0 0.5vmin;
    }
    .logo {
        display: flex;
        justify-content: center;
        margin: 4vmin 0;
        @include responsive.mobile {
            padding: 1;
        }
        span {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
    
    ul {
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        li {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 4vmin;
            list-style: none;
            color: base.$color-dark-1;
            border-radius: 1%;
            padding: 0 1vmin;
            &:hover {
                background-color: base.$color-bright-1;
                border: solid rgba(0, 0, 0, 0.13) 0.5px;
                padding: 0;
                a {
                    svg {
                        fill: black;
                    }
                }
            }
            .link {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: base.$color-dark-1;
                height: 100%;
                width: 100%;
                background-color: transparent;
                border: none;
                &:focus {
                    outline: none;
                }
                svg {
                    fill: rgba(0, 0, 0, 0.274);
                    width: 30px;
                    height: 30px;
                    defs {
                        style {
                            fill: rgba(0, 0, 0, 0.274);
                        }
                    }
                }
            }
        }
    }
}