<div class="location" *ngIf="parentForm" [formGroup]="getFormGroup('location')">
  <app-input-autocomplete
    formControlName="state"
    [parentForm]="getFormGroup('location')"
    [fieldName]="'state'"
    [label]="'State'"
    [options]="countries"
    (emitter)="setState($event)"
  ></app-input-autocomplete>
  <app-input-autocomplete
    formControlName="city"
    [parentForm]="getFormGroup('location')"
    [fieldName]="'city'"
    [label]="'City'"
    [options]="states"
  ></app-input-autocomplete>
</div>

<!-- <app-input
  formControlName="city"
  [parentForm]="parentForm"
  [fieldName]="'city'"
  [label]="'City'"
></app-input> -->
