<div class="grid">
    <div class="sort-by">
        <span>ID</span>
        <span>Name</span>
        <span>Email</span>
    </div>
    <div *ngFor="let costumer of costumers" class="row">
        <div class="row__separator">
            <span>{{ costumer.id }}</span>
            <img (src)='costumer.avatar' alt="">
            <span>{{ costumer.firstName }} {{ costumer.lastName }}</span>
            <span>{{ costumer.email }}</span>
        </div>
        <div class="row__separator">
            <span [ngClass]="costumer.isActive ? 'active' : 'inactive'">{{ costumer.isActive ? 'Online' : 'Offline'}}</span>
            <button>Edit</button>
        </div>
    </div>
</div>