<div class="wrapper">
    <div class="head_row">
        <div class="card">
            <div class="text">Costumers</div>
            <div class="number">15</div>
        </div>
        <div class="card">
            <div class="text">ipsum</div>
            <div class="number">23/50</div>
        </div>
        <div class="card">
            <div class="text">Lorem</div>
            <div class="number">65</div>
        </div>
    </div>
    <main>
        <div *ngFor="let costumer of costumers" class="row">
            <div class="seperator"></div>
            <span>{{ costumer.id }}</span>
            <img (src)='costumer.avatar' alt="">
            <span>{{ costumer.firstName }} {{ costumer.lastName }}</span>
            <span>{{ costumer.email }}</span>
            <span [ngClass]="costumer.isActive ? 'active' : 'inactive'">{{ costumer.isActive ? 'Online' :
                'Offline'}}</span>
            <div class="actions">
                <button mat-raised-button [disabled]="true">Call</button>
                <button mat-raised-button>Watch</button>
                <button mat-raised-button>...</button>
            </div>
        </div>
        <div class="bottom_row">
            <div class="seperator"></div>
            <mat-paginator [length]="amountOfCostumers" [pageSize]="costumersPerPage" [pageSizeOptions]="[3, 5, 7]" (page)="getServerData($event)">
            </mat-paginator>
        </div>
    </main>
</div>