<div class="wrapper">
    <div class="head-row">
        <div class="card">
            <div class="text">Costumers</div>
            <div class="number">15</div>
        </div>
        <div class="card">
            <div class="text">ipsum</div>
            <div class="number">23/50</div>
        </div>
        <div class="card">
            <div class="text">Lorem</div>
            <div class="number">65</div>
        </div>
    </div>
    <!-- <div class="sort-by">
        <span>ID</span>
        <span>Name</span>
        <span>Email</span>
    </div> -->
    <main>
        <div *ngFor="let costumer of costumers" class="row">
            <div class="seperator"></div>
            <span>{{ costumer.id }}</span>
            <img (src)='costumer.avatar' alt="">
            <span>{{ costumer.firstName }} {{ costumer.lastName }}</span>
            <span>{{ costumer.email }}</span>
            <span [ngClass]="costumer.isActive ? 'active' : 'inactive'">{{ costumer.isActive ? 'Online' : 'Offline'}}</span>
            <div class="actions">
                <button [disabled]="true">Call</button>
                <button>Watch</button>
                <button>...</button>
            </div>
        </div>
    </main>
</div>