@use '../style/base';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    margin: 3vmin;
    background-image: linear-gradient(to bottom, base.$color-bright-1, base.$color-bright-2);
    .head_row {
        display: flex;
        gap: 2vmin;
        align-items: center;
        padding: 1vmin 1.5vmin;
        .card {
            display: flex;
            flex-direction: column;
            gap: 1vmin;
            flex: 1;
            padding: 3vmin 2vmin;
            background-color: white;
            border-radius: 1%;
            box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
            .number {
                font-size: 2rem;
            }
        }
    }
    main {
        display: flex;
        flex-direction: column;
        gap: 3vmin;
        padding: 3vmin 2vmin;
        margin: 1vmin 1.5vmin;
        background-color: white;
        border-radius: 1%;
        box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
        .row {
            position: relative;
            display: grid;
            grid-template-columns: min-content 35px 40% 20% min-content auto;
            gap: 1vmin;
            align-items: center;
            padding-top: 2vmin;
            .actions {
                display: flex;
                align-items: center;
                justify-content: space-evenly;
            }
            img {
                width: 35px;
                height: 35px;
            }
        }
        .bottom_row {
            display: flex;
            // gap: 50%;
            position: relative;
            mat-form-field {
                width: min-content;
                margin: 2vmin;
            }

        }
    }
}

.seperator {
    position: absolute;
    top: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background-image: linear-gradient(to left, white, black, white);
}
.active {
    color: green;
}
.inactive {
    color: red;
}