<div class="location" *ngIf="parentForm" [formGroup]="getFormGroup('location')">
  <app-input-autocomplete
    formControlName="state"
    [parentForm]="getFormGroup('location')"
    [fieldName]="'state'"
    [label]="'State'"
    [options]="countries"
    (emitter)="setState($event)"
  ></app-input-autocomplete>
  <app-input-autocomplete
    formControlName="city"
    [parentForm]="getFormGroup('location')"
    [fieldName]="'city'"
    [label]="'City'"
    [options]="states"
  ></app-input-autocomplete>
  <div [formGroup]="getSubFormGroup('location', 'street')">
    <app-input
      formControlName="name"
      [parentForm]="getSubFormGroup('location', 'street')"
      [fieldName]="'name'"
      [label]="'Street'"
    ></app-input>
  </div>
</div>
