@use '../style/base';

main {
    width: 80%;
    max-width: 1200px;
    height: 80%;
    background-image: linear-gradient(to bottom, base.$color-bright-2, base.$color-dark-2);
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.2);
    display: flex;
    border-radius: 1%;
    app-navbar {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20%;
    }
}