@use './style/base';

app-main {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, base.$color-bright-1, base.$color-dark-1);
}