<button
  mat-button
  [matMenuTriggerFor]="menu"
  aria-label="Filter options"
  (click)="onMenuClick()"
>
  <mat-icon>more_vert</mat-icon>
  <span class="filter_button" translate>customers.filters</span>
</button>
<mat-menu
  #menu="matMenu"
  class="slider_menu_item"
  (click)="$event.stopPropagation()"
>
  <app-custom-menu-item [title]="'customers.age'" [icon]="'dialpad'">
    <app-customers-filter
      [filterName]="'age'"
      [range]="getRangesFor('age')"
      [rangeSliderValue]="getFilteredValue('age')"
    ></app-customers-filter>
  </app-custom-menu-item>
  <app-custom-menu-item [title]="'customers.purchases'" [icon]="'dialpad'">
    <app-customers-filter
      [filterName]="'purchases'"
      [range]="getRangesFor('purchases')"
      [rangeSliderValue]="getFilteredValue('purchases')"
    ></app-customers-filter>
  </app-custom-menu-item>
  <app-custom-menu-item [title]="'customers.moneySpent'" [icon]="'dialpad'">
    <app-customers-filter-slide
      [filterName]="'moneySpent'"
      [range]="getRangesFor('moneySpent')"
      [rangeSliderValue]="getFilteredValue('moneySpent')"
    ></app-customers-filter-slide>
  </app-custom-menu-item>
  <button mat-menu-item (click)="onGoFilterClick()">
    <mat-icon>arrow_forward_ios</mat-icon>
    <span translate>customers.filter</span>
  </button>
  <button mat-menu-item (click)="onRemoveFilters()">
    <mat-icon>dialpad</mat-icon>
    <span translate>customers.removeFilters</span>
  </button>
</mat-menu>
