$main-text-color: white;
$color-bright-1: rgb(228, 237, 232);
$color-bright-2: rgb(242, 243, 237);
$color-bright-3: white;
$color-dark-1: rgb(179, 194, 197);
$color-dark-2: rgb(220, 235, 232);
$color-dark-3: rgb(234, 240, 238);

$color-contrast-bright: rgb(247, 192, 138);
$color-contrast-dark: rgb(247, 152, 104);
$border-radius: 3%;
$border-radius-left: 6px 0 0 6px;
$border-radius-right: 0 6px 6px 0;
$font-family-header: 'Poppins', sans-serif;
$font-family-sub: 'Poppins', sans-serif;
$small-gap: 1vmin;
$medium-gap: 1.5vmin;
$big-gap: 3vmin;

@mixin custom-header {
    font-family: $font-family-header;
    font-weight: bold;
    font-size: 2em;
}

@mixin custom-subheader {
    font-family: $font-family-sub;
    font-weight: 200;
    font-size: 1.2em;
}