<div class="grid">
    <div class="card">
        <div class="card_profile" *ngIf="user">
            <img *ngIf="user.image" [src]="user.image" alt="" class="logo">
            <div class="card_profile__info">
                <div>
                    <span>First Name: {{user.firstName}}</span>
                </div>
                <div>
                    <span>Last Name: {{user.lastName}}</span>
                </div>
                <div>
                    <span>Email: </span>
                    <span>{{ user.email }}</span>
                </div>
                <div>
                    <span>Age: </span>
                    <span>{{ user.age }}</span>
                </div>
            </div>
            <div class="card_profile__buttons">
                <button class="edit">Edit</button>
                <button class="close">Close</button>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card_stat">
            <h1>Statistics</h1>
            <div class="card_stat__graph">
                <h2>First Graph</h2>
                <div class="first_graph"></div>
            </div>
            <div class="card_stat__graph">
                <h2>Second Graph</h2>
                <div class="second_graph"></div>
            </div>
        </div>
    </div>
</div>