$main-text-color: white;
$color-bright-1: rgb(228, 237, 232);
$color-bright-2: rgb(242, 243, 237);
$color-bright-3: white;
$color-dark-1: rgb(179, 194, 197);
$color-dark-2: rgb(220, 235, 232);
$color-dark-3: rgb(234, 240, 238);

$color-contrast-bright: rgb(247, 192, 138);
$color-contrast-dark: rgb(247, 152, 104);