// @use '~@angular/material'as mat;
@import "~@angular/material/theming";
@include mat-core();

// $my-custom-level: mat.define-typography-config(
//     $headline: mat.define-typography-level(
//         $font-family: Raleway,
//         $font-weight: 400,
//         $font-size: 1rem,
//         $line-height: 1,
//         $letter-spacing: normal,
// ));
$market-primary: mat-palette($mat-light-blue);
$market-accent: mat-palette($mat-light-green);
$market-warn: mat-palette($mat-red);

$market-theme: mat-light-theme($market-primary, $market-accent, $market-warn);


//for dark theme
$market-primary-dark: mat-palette($mat-orange);
$market-accent-dark: mat-palette($mat-yellow);
$market-warn-dark: mat-palette($mat-red);

$market-theme-dark: mat-dark-theme($market-primary-dark, $market-accent-dark, $market-warn-dark);
.dark {
    @include angular-material-theme($market-theme-dark);
}
.light {
    @include angular-material-theme($market-theme);
}
