// @use '~@angular/material'as mat;
@import "~@angular/material/theming";
@include mat-core();

$crm-primary: mat-palette($mat-light-blue);
$crm-accent: mat-palette($mat-light-green);
$crm-warn: mat-palette($mat-red);

$crm-theme: mat-light-theme($crm-primary, $crm-accent, $crm-warn);

//for dark theme
$crm-primary-dark: mat-palette($mat-orange);
$crm-accent-dark: mat-palette($mat-yellow);
$crm-warn-dark: mat-palette($mat-red);

$crm-theme-dark: mat-dark-theme(
  $crm-primary-dark,
  $crm-accent-dark,
  $crm-warn-dark
);
// .dark {
//   color: white;
//   background-color: grey;
//   @include angular-material-theme($crm-theme-dark);
// }
// .light {
//   @include angular-material-theme($crm-theme);
// }
