@use '../../style/base';
:host {
    width: 100%;
    .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: base.$border-radius-right;
        padding-left: 10%;
        h1 {
            display: flex;
            align-items: center;
            height: 30%;
            text-align: center;
        }
        form {
            display: flex;
            flex-direction: column;
            gap: 3vmin;
            width: 100%;
            align-items: center;
            app-input {
                width: 70%;
            }
        }
        .helpers {
            height: 20%;
            width: 30vw;
            .worng-login {
                display: flex;
                flex-direction: column;
            }
        }
    }
}