<div class="wrapper">
  <h1 translate>LOGIN_WELCOME</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- <mat-form-field>
      <mat-label for="email" translate>EMAIL</mat-label>
      <input
        id="email"
        matInput
        type="text"
        placeholder="test@test.com"
        formControlName="email"
      />
    </mat-form-field> -->
    <app-input
      formControlName="email"
      [parentForm]="loginForm"
      [fieldName]="'email'"
      [label]="'Email'"
    >
    </app-input>
    <!-- <mat-form-field>
      <mat-label for="pass" translate>PASSWORD</mat-label>
      <input id="pass" matInput type="password" formControlName="password" />
    </mat-form-field> -->
    <app-input
      formControlName="password"
      [parentForm]="loginForm"
      [fieldName]="'password'"
      [label]="'Password'"
    >
    </app-input>
    <button
      mat-raised-button
      type="submit"
      [disabled]="!loginForm.valid || loading"
    >
      <span translate>
        {{ loading ? "LOADING" : !success ? "LOGIN" : "SUCCESS" }}
      </span>
    </button>
  </form>
  <div class="helpers">
    <mat-error class="worng-login" *ngIf="loginError">
      <span translate>LOGIN_ERROR_TRY_THIS</span>
      <span>test@test.com:123456</span>
    </mat-error>
    <mat-error *ngIf="email?.touched && email?.invalid" translate>
      INPUT_ERROR_EMAIL
    </mat-error>
    <mat-error *ngIf="password?.touched && password?.invalid" translate>
      INPUT_ERROR_PASS_MIN
    </mat-error>
  </div>
</div>
