<div class="wrapper">
  <h1 translate>LOGIN_WELCOME</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <!-- <app-input
      formControlName="email"
      [parentForm]="loginForm"
      [fieldName]="'email'"
      [label]="'EMAIL' | translate"
      [placeholder]="'EMAIL' | translate"
      [icon]="'email'"
    >
    </app-input> -->

    <!-- <app-input
      formControlName="password"
      [parentForm]="loginForm"
      [fieldName]="'password'"
      [label]="'PASSWORD' | translate"
      [placeholder]="'PASSWORD' | translate"
      [type]="'password'"
    >
    </app-input> -->

    <app-generic-input
      formControlName="email"
      placeholder="test@test.com"
      label="person.email"
      iconPrefix="email"
    >
    </app-generic-input>
    <app-generic-input
      formControlName="password"
      placeholder="person.password"
      type="password"
    >
    </app-generic-input>

    <!-- todo-move code to button component -->
    <button
      [disabled]="loading"
      mat-raised-button
      type="submit"
      color="primary"
    >
      <div class="loading-indicator">
        <span translate>
          {{ loading ? "LOADING" : !success ? "LOGIN" : "SUCCESS" }}
        </span>
        <mat-spinner *ngIf="loading" [diameter]="24"></mat-spinner>
      </div>
    </button>
  </form>
</div>
