<div class="wrapper">
  <h1 translate>login-welcome</h1>
  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <mat-form-field>
      <mat-label for="email" translate>email</mat-label>
      <input
        id="email"
        matInput
        type="text"
        placeholder="test@test.com"
        formControlName="email"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label for="pass" translate>password</mat-label>
      <input id="pass" matInput type="password" formControlName="password" />
    </mat-form-field>
    <button
      mat-raised-button
      type="submit"
      [disabled]="!loginForm.valid || loading"
      translate
    >
      <span translate>
        {{ loading ? "loading" : !success ? "login" : "success" }}
      </span>
    </button>
  </form>
  <div class="helpers">
    <mat-error class="worng-login" *ngIf="loginError">
      <span translate>login-error-try-this</span>
      <span>test@test.com:123456</span>
    </mat-error>
    <mat-error *ngIf="email?.touched && email?.invalid" translate>
      input-error-email
    </mat-error>
    <mat-error *ngIf="password?.touched && password?.invalid" translate>
      input-error-pass-min
    </mat-error>
  </div>
</div>
