@use '../../style/base';
:host {
  width: 100%;
  .wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: base.$border-radius-left;
    background: var(--color-accent-gradient-1);
    padding-right: 10%;
    h1 {
      display: flex;
      align-items: center;

      text-align: center;
    }
    form {
      display: flex;
      flex-direction: column;

      gap: 3vmin;
      width: 100%;
      align-items: center;
      & > * {
        width: 70%;
      }
      button {
        border-radius: 10rem;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        text-transform: uppercase;
        font-weight: bold;
        width: 20rem;

        .loading-indicator{
          display:flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }
    }
    .helpers {
      height: 33%;
      width: 30vw;
      .worng-login {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
