<div class="wrapper">
  <!-- <div class="head_row">
  </div> -->
  <app-head-cards [amountOfCustomers]="amountOfCustomers"></app-head-cards>
  <main>
    <mat-toolbar>
      <button mat-button (click)="goToNewCostumer()">
        <mat-icon>person_add</mat-icon><span translate>CUSTOMERS_NEW</span>
      </button>
      <button mat-button (click)="editSelected()" [disabled]="haveSelected()">
        <mat-icon>person_add</mat-icon><span translate>CUSTOMERS_EDIT</span>
      </button>
      <button
        mat-button
        (click)="opendDeleteDialog()"
        [disabled]="haveSelected()"
      >
        <mat-icon>person_add</mat-icon><span translate>CUSTOMERS_DELETE</span>
      </button>
    </mat-toolbar>
    <mat-list matSort (matSortChange)="sortData($event)">
      <h3 matLine class="flex">
        <span translate>SORT_BY</span>
        <span mat-sort-header="name"><span translate>NAME_LAST</span></span>
        <span mat-sort-header="age"><span translate>AGE</span></span>
        <mat-checkbox></mat-checkbox>
      </h3>
    </mat-list>
    <mat-selection-list
      #costumerSelect
      (selectionChange)="onSelections(costumerSelect.selectedOptions.selected)"
    >
      <app-customer-list [customers]="customers"></app-customer-list>
    </mat-selection-list>
    <app-paginator
      [length]="amountOfCustomers"
      [pageSize]="customersPerPage"
      [pageSizeOptions]="[3, 5, 7]"
      (clicked)="loadRandomUsers($event)"
    ></app-paginator>
  </main>
</div>
