<div class="wrapper">
  <app-head-cards [amountOfCustomers]="amountOfCustomers.toString()"></app-head-cards>
  <main>
    <mat-toolbar>
      <button mat-button (click)="goToNewCostumer()">
        <mat-icon>person_add</mat-icon><span translate>CUSTOMERS_NEW</span>
      </button>
      <button mat-button (click)="editSelected()" [disabled]="haveSelected()">
        <mat-icon>person_add</mat-icon><span translate>EDIT_SELECTED</span>
      </button>
      <button
        mat-button
        (click)="opendDeleteDialog()"
        [disabled]="haveSelected()"
      >
        <mat-icon>person_add</mat-icon><span translate>DELETE_SELECTED</span>
      </button>
      <app-customer-search-input (filtered)="setFilteredCustomers($event)"></app-customer-search-input>
    </mat-toolbar>
    <app-customers-sort (sortChanged)="onSortChange($event)"></app-customers-sort>
    <mat-selection-list
      #costumerSelect
      (selectionChange)="onSelections(costumerSelect.selectedOptions.selected)"
    >
      <app-customer-list [customers]="customers"></app-customer-list>
    </mat-selection-list>
    <app-paginator
      [length]="amountOfCustomers"
      [pageSize]="customersPerPage"
      [pageSizeOptions]="[3, 5, 7]"
      (clicked)="loadRandomUsers($event)"
    ></app-paginator>
  </main>
</div>
