<div class="wrapper">
  <div class="logo">
    <span>CRM</span>
  </div>
  <mat-list>
    <a
      mat-list-item
      [routerLink]="'/dashboard'"
      [routerLinkActive]="'active'"
      matTooltip="{{'NAV_DASHBOARD' | translate}}"
      [matTooltipPosition]="'after'"
    >
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
      </button>
    </a>
    <a
      mat-list-item
      [routerLink]="'/about'"
      [routerLinkActive]="'active'"
      matTooltip="{{'NAV_ABOUT' | translate}}"
      [matTooltipPosition]="'after'"
    >
      <button mat-button>
        <mat-icon>info</mat-icon>
      </button>
    </a>
    <a
      mat-list-item
      [routerLink]="'/customers'"
      [routerLinkActive]="'active'"
      matTooltip="{{'NAV_CUSTOMERS' | translate}}"
      [matTooltipPosition]="'after'"
    >
      <button mat-button>
        <mat-icon>people_outline</mat-icon>
      </button>
    </a>
    <a
      mat-list-item
      [routerLink]="'/profile'"
      [routerLinkActive]="'active'"
      matTooltip="{{'NAV_PROFILE' | translate}}"
      [matTooltipPosition]="'after'"
    >
      <button mat-button>
        <mat-icon>person</mat-icon>
      </button>
    </a>
  </mat-list>
  <div class="bottom">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <mat-slide-toggle
          [checked]="isChecked"
          (change)="toggleTheme($event)">
          <span translate>DARK_MODE</span>
          </mat-slide-toggle
        >
      </button>
      <button mat-menu-item [matMenuTriggerFor]="subMenu">
        <mat-icon>voicemail</mat-icon>
        <span translate>LANGUAGE</span>
      </button>
    </mat-menu>
    <mat-menu #subMenu="matMenu">
      <button mat-menu-item (click)="changeLanguage('en')">
        <mat-icon>voicemail</mat-icon>
        <span>English</span>
      </button>
      <button mat-menu-item (click)="changeLanguage('he')">
        <mat-icon>voicemail</mat-icon>
        <span>עברית</span>
      </button>
    </mat-menu>
    <button
      mat-button
      (click)="logout()"
      matTooltip="{{'NAV_LOGOUT' | translate}}"
      [matTooltipPosition]="'after'"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>
