@use '../../style/base';
@use '../../style/responsive';

.wrapper {
    background-image: linear-gradient(to bottom, base.$color-bright-3, base.$color-dark-3);
    border-radius: base.$border-radius-left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    @include responsive.mobile {
        padding: 0 0.5vmin;
    }
    .logo {
        display: flex;
        justify-content: center;
        padding: 2vmin 0;
        @include responsive.mobile {
            padding: 1;
        }
        span {
            font-family: 'Poppins', sans-serif;
            font-size: 1.5em;
            font-weight: bold;
        }
    }
    mat-list {
        a {
            text-decoration: none;
        }
    }
    .bottom {
        padding-bottom: 2vmin;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vmin;
    }
}