<div class="wrapper">
  <div class="logo">
    <span>CRM</span>
  </div>
  <mat-list>
    <a mat-list-item [routerLink]="'/dashboard'" [routerLinkActive]="'active'" matTooltip="Dashboard"
      [matTooltipPosition]="'after'">
      <button mat-button>
        <mat-icon>dashboard</mat-icon>
      </button>
    </a>
    <a mat-list-item [routerLink]="'/about'" [routerLinkActive]="'active'" matTooltip="About"
      [matTooltipPosition]="'after'">
      <button mat-button>
        <mat-icon>info</mat-icon>
      </button>
    </a>
    <a mat-list-item [routerLink]="'/costumers'" [routerLinkActive]="'active'" matTooltip="Costumers" [matTooltipPosition]="'after'">
      <button mat-button>
        <mat-icon>people_outline</mat-icon>
      </button>
    </a>
    <a mat-list-item [routerLink]="'/profile'" [routerLinkActive]="'active'" matTooltip="Profile"
      [matTooltipPosition]="'after'">
      <button mat-button>
        <mat-icon>person</mat-icon>
      </button>
    </a>
  </mat-list>
  <div class="bottom">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>
        <!-- <span>Dark Mode</span> -->
        <mat-slide-toggle>Dark Mode</mat-slide-toggle>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Language</span>
      </button>
    </mat-menu>
    <button mat-button (click)="logout()" matTooltip="Logout" [matTooltipPosition]="'after'">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>