@use '../../style/base';
@use '../../style/responsive';

.wrapper {
    display: flex;
    flex-direction: column;
    gap: 1vmin;
    margin: 3vmin;
    background-image: linear-gradient(to bottom, base.$color-bright-1, base.$color-bright-2);
    .costumers-cards {
        display: flex;
        gap: 1.5vmin;
        padding: 1.5vmin;
    }
    form {
        display: flex;
        flex-direction: column;
        padding: 3vmin;
        .row {
            width: 100%;
            display: flex;
            gap: 3vmin;
            justify-content: space-between;
            app-input {
                width: 100%;
            }
            mat-form-field {
                width: 100%;
            }
        }
    }
    section {
        display: flex;
        justify-content: flex-end;
        padding: 3vmin;
        gap: 1.5vmin;
    }
}