<div class="wrapper">
    <h1>Welcome to your costumer relation manager</h1>
    <form [formGroup]="registerForm" (ngSubmit)="register()">
        <div class="row">
            <label for="first-name">First name: </label>
            <input id="first-name" type="text" formControlName='firstName'>
        </div>
        <div class="row">
            <label for="last-name">Last name: </label>
            <input id="last-name" type="text" formControlName='lastName'>
        </div>
        <div class="row">
            <label for="email">Email: </label>
            <input id="email" type="text" placeholder="test@test.com" formControlName='email'>
        </div>
        <div class="row">
            <label for="pass">Password: </label>
            <input id="pass" type="password" placeholder="123456" formControlName='password'>
        </div>
        <div class="row">
            <label for="age">Age: </label>
            <input id="age" type="number" formControlName='age'>
        </div>
        <button type="submit" [disabled]="!registerForm.valid">Register</button>
    </form>
    <div class="helpers">
        <div *ngIf="email?.touched && email?.invalid">Please enter email</div>
        <div *ngIf="password?.touched && password?.invalid">Password should be at least 3 letters</div>
        <div *ngIf="age?.touched && age?.invalid">Your age must be above 18</div>
    </div>
</div>